<!DOCTYPE html>
{% extends 'main/layout.html' %}

{% block body %}
    <table id="user_table">
        <thead>
            <tr>
                <th>
                    User
                </th>
            </tr>
        </thead>
        <tbody id="user_table_body">

        </tbody>
    </table>
{% endblock %}

{% block scripts %}
<script>
    function get_user(){
        var table = document.getElementById("user_table_body")
        var xhr = new XMLHttpRequest()

        xhr.open("GET", "{{ url_for('user.UserView:index')}}", true);
        xhr.onreadystatechange = function () {
        if(xhr.readyState === XMLHttpRequest.DONE) {
            var status = xhr.status;
            if (status === 0 || (status >= 200 && status < 400)) {
                var user_data = JSON.parse(xhr.responseText);
                console.log(user_data)
                for (i=0; i<user_data.length; i++){
                    console.log( user_data[i]["FirstName"]+' '+user_data[i]["LastName"])
                    let row = document.createElement("tr");
                    let data = document.createElement("td");
                    data.innerText =  user_data[i]['FirstName']+' '+user_data[i]['LastName'];
                    row.append(data);
                    table.append(row);
                }
            } else {
                alert("Could not retrieve users.")
            }
        }
        };
        xhr.send();
    }
</script>
<script>
    window.onload = get_user
</script>

{% endblock %}